body {background-color: #eeeeee;;}
hr { border: none;
     border-top-style:dotted ;
     border-width: 10px;
body {background-color: #eeeeee;;}
border-color: #e9f5f5;
     border-top-color: #66bfbf;
     border-left: 0px;               
  height: 20px;
  width: 4%;
         }
         h1 { color: #66bfbf; } 
         h2 { color: #66bfbf;}
         h3 { color: #66bfbf;}
